.bar-widget {
    @include window;
    padding: 0.3rem 0rem;
    margin: 0rem;
    border-radius: 5rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: $transparent;
    box-shadow: 0 0px 0px 0px $black;
}
