.clock {
    padding: 0 0.5rem 0 0;
    margin: 0 0 0 0.7rem;
    font-size: 1.5rem;
    font-family: monospace;
}

.big_clock_box {
    @include window;
    margin-top: 20rem;
    margin-right: 20rem;
}

.big_clock_label {
    font-size: 10rem;
}
