window.date {
  background-color: transparent;
  box-shadow: 0 0 0 0 transparent;
}

.date {
  @include window;
  color: transparent;
}





.timebox {
  margin: 30px 0px;

  .time-container {
    .content {
      font-family: 'Noto Sans';
      font-weight: bolder;
      font-size: 60px;
      color: $text;
    }

    .divider {
      margin: 8px 15px;
      padding: 0px 1px;
      background: $text;
    }
  }

  .date-container {
    font-family: 'Noto Sans';
    margin-top: 2px;
    color: $subtext1;
  }
}

.cal-box {
  font-family: 'Noto Sans';
  background-color: $base;
  border-radius: 4px;
  padding: 0 1rem .2rem;
  color: $text;
  margin: 0px 12px 12px 12px;

  .cal {
    background-color: inherit;
    padding: .5rem .1rem 0rem;
    margin-left: 10px;

    &>* {
      border: solid 0px transparent;
    }

    &.highlight {
      padding: 10rem;
      background-color: $lavender;
      color: $crust;
      border-radius: 5px;
    }
  }
}

calendar.header {
  color: $text;
  font-weight: bold;
}

calendar.button {
  color: $text;
}

calendar.highlight {
  color: $mauve;
  font-weight: bold;
}

calendar:indeterminate {
  color: $pink;
}

calendar.today {
  background-color: $lavender;
  color: $crust;
  border-radius: 5px;
}