window.date {
  background-color: transparent;
  box-shadow: 0 0 0 0 transparent;
}

.date {
  @include window;
  color: $white;
  padding: 0rem;
  margin: 0rem;
  border-color: $black;
  border-width: 0.2rem;
  border-style: solid;
}

.timebox {
  margin: 30px 0px;

  .time-container {
    .content {
      font-family: sans-serif;
      font-weight: 900;
      font-size: 60px;
      color: $black;
    }

    .divider {
      margin: 8px 15px;
      padding: 0px 1px;
      background: $black;
    }
  }

  .date-container {
    font-family: sans-serif;
    margin-top: 2px;
    color: $black;
  }
}

.cal-box {
  font-family: sans-serif;
  background-color: $white;
  padding: 0 1rem .2rem;
  color: $black;
  margin: 0px 12px 12px 12px;

  .cal {
    background-color: inherit;
    padding: .5rem .1rem 0rem;
    margin-left: 10px;

    &>* {
      border: solid 0px transparent;
    }
  }
}

calendar.header {
  color: $black;
  font-weight: bold;
}

calendar.button {
  color: $black;
}

calendar:indeterminate {
  color: $white;
}

calendar.today {
  background-color: $white;
  color: $black;
}
