.indicator-date-wrapper {
    background-color: $black;
}

.indicator {
    background-color: $black;
    padding: 0 0.5rem;
    margin-right: 0;
}

.indicator:active {
  background-color: $white;
  color: $black;
}

.date-indicator {
    font-size: 0.9rem;
    background-color: $black;
    padding-left: 0rem;
    padding-right: 0.75rem;
}

.date-indicator-text {
    padding: 0 0.2rem;
    font-family: monospace;
}

.indicator-icons {
    padding: 0rem 0rem;
    margin: 0 0rem;
    background-color: $white;
    color: $black;
    border-color: $black;
    border-width: 0.15rem;
    border-style: solid;
}

.indicator-icon {
    margin: 0 0.35rem;
    font-size: 1.3rem;
}

.indicator-net-icon {
    margin: 0 0.5rem;
    font-size: 1.3rem;
}

.indicator-bat-icon {
    margin: 0 0rem;
    padding-right: 1rem;
    font-size: 1.4rem;
}

.indicator-bat-charging-icon {
    margin: 0 0rem;
    padding-right: 1rem;
    font-size: 1.2rem;
}

.indicator-dnd-icon {
    margin: 0 0rem;
    margin-left: 0.4rem;
    font-size: 1.3rem;
}

.indicator-brigh-icon {
    margin: 0 0rem;
    padding-right: 0.5rem;
    font-size: 1.3rem;
}

.indicator-volume-icon {
    margin: 0 0rem;
    margin-left: 1.1rem;
    margin-right: 0.5rem;
    font-size: 1.3rem;
}

.icon-text {
    margin: 0 0.2rem;
    font-size: 1rem;
    font-family: monospace;
}

.icon-text-charging {
    font-size: 1rem;
    font-family: monospace;
}
