.launcher {
    background-color: $mauve;
    color: $surface0;
    border-radius: 1rem;
    padding: 0 0.6rem 0 1rem;
    margin: 0 0.5rem;
    transition: 0.3s;
    font-size: 1.5rem;
}

.launcher:hover {
    background-color: mix($base, $mauve, 70%);
}