.launcher {
  background-color: $white;
  color: $black;
  padding: 0 0.8rem;
}

.launcher:active {
  background-color: $black;
}

.launcher-wrapper {
  background-color: $white;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  border-color: $black;
  border-width: 0.15rem;
  border-style: solid;
}
