@mixin window {
  background-color: $white;
  border-radius: 1.5rem;
  padding: 1rem;
  margin: 1rem;
}

tooltip {
  background: $white;
  border-color: $black;
  border-width: 0.2rem;
  border-style: solid;
}

tooltip label {
  background-color: $white;
  color: $black;
  border-radius: 8px;
  padding: 6px 10px;
}

menu {
  background-color: $white;
  border-radius: 1rem;
  padding: 0.75rem;
  color: $black;
  font-size: 1rem;
  border-color: $black;
  border-width: 0.2rem;
  border-style: solid;
}

menu>menuitem {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

check {
  padding: 0.5rem;
  margin: 0 1rem;
  border-radius: 6px;
  background-color: $white;
  border-color: $black;
  border-width: 0.2rem;
  border-style: solid;
}

check:checked {
  background-color: $black;
  color: $white;
}

radio {
  padding: 0.5rem;
  margin: 0 1rem;
  border-radius: 6px;
  background-color: $white;
  border-color: $black;
  border-width: 0.2rem;
  border-style: solid;
}

radio:checked {
  background-color: $black;
  color: $white;
}

scrollbar {
  background-color: $transparent;
  border: none;
}

* {
  -gtkscrollbar-has-backward-stepper: true;
  -gtkscrollbar-has-forward-stepper: true;
}

scrollbar slider {
  min-width: 15px;
  min-height: 7px;
  border-radius: 9999px;
  margin: 0;
  padding: 0;
  background-color: $white;
  border-color: $black;
  border-width: 0.2rem;
  border-style: solid;
}

scrollbar button {
  min-width: 16px;
  min-height: 4px;
  padding: 0;
  border-radius: 0;
}

scrollbar.vertical button.down {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

scrollbar.vertical button.up {
  -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}

scrollbar.horizontal button.down {
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

scrollbar.horizontal button.up {
  -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
}

scrollbar.overlay-indicator {
  background-color: transparent;
  margin: 0;
  padding: 0;
}

scrollbar.overlay-indicator slider {
  margin: 0;
  margin: 0;
  padding: 0;
}
