.music {
    @include window;
}

.music-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 6rem;
    min-width: 6rem;
    border-radius: 1rem;
    border-color: $black;
    border-width: 0.2rem;
    border-style: solid;
}

.music-text {
    color: $black;
    margin-left: 1rem;
}

.music-title {
    color: $black;
    font-size: 1.2rem;
}

.music-artist {
    color: $black;
}

.music-name {
    background-color: $white;
    color: $black;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    font-size: 1rem;
}

.music-action {
    color: $black;
    font-size: 2rem;
    min-width: 3rem;
}
