.notifications-center {
    @include window;
}

.notification-box {
    background-color: $surface0;
    color: $text;
    border-radius: 1rem;
    margin-top: 1rem;
}

.notification-info {
    margin: 1rem;
    margin-bottom: 0;
}

.notification-icon {
    margin-left: 1rem;
}

.notification-image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 10rem;
    border-radius: 1rem;
    margin: 0.5rem;
}

.notification-app {
    font-weight: normal;
    color: $subtext1;
}

.notification-summary {
    font-weight: bold;
    padding: 0 1rem;
    font-size: 1.1rem;
    margin-top: 0.5rem;
}

.notification-body {
    color: $subtext1;
    font-weight: normal;
    margin-bottom: 0.5rem;
}

.notifications-scroll {
    min-height: 15rem;
    margin-top: 1rem;
}

.notifications-clear-button {
    background-color: $surface0;
    color: $text;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    transition: 0.3s;
}

.notifications-clear-button:hover {
    background-color: mix($surface0, $subtext1, 70%);
}

.notification-close-button {
    background-color: $surface0;
    color: $text;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    margin: 1rem;
    transition: 0.3s;
}

.notification-close-button:hover {
    background-color: mix($surface0, $subtext1, 70%);
}

.notifications-header-text {
    font-size: 1.5rem;
}

.notification-action {
    color: $mauve;
    padding: 0 0.5rem;
    margin: 0 0.25rem;
    transition: 0.3s;
    border-radius: 0.25rem;
}

.notification-action-box {
    margin-left: 0.25rem;
    margin-bottom: 1rem;
}

.notification-action:hover {
    background-color: mix($surface0, $subtext1, 70%);
}