.powermenu-box {
    @include window;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-color: $black;
    border-width: 0.2rem;
    border-style: solid;
}

.powermenu-entry {
    margin: 0 0.5rem;
}

.powermenu-button {
    background-color: $white;
    border-radius: 1rem;
    padding: 3.25rem 4rem;
    border-color: $black;
    border-width: 0.2rem;
    border-style: solid;
}

.powermenu-button:active {
  background-color: $black;
}

.powermenu-icon {
    font-size: 4rem;
    color: $black;
}

.powermenu-text {
    margin-top: 0.5rem;
    font-size: 1.3rem;
    color: $black;
}
