.quick_settings_button {
    background-color: $white;
    color: $black;
    padding: 0.75rem;
    font-size: 1.05rem;
    border-color: $black;
    border-width: 0.2rem;
    border-style: solid;
}

.quick_settings_button:active {
  background-color: $black;
}

.quick_settings_button_toggled {
    background-color: $black;
    color: $white;
}

.quick_settings_button_toggled:active {
  background-color: $white;
}

.quick_settings_box {
    margin-top: 1rem;
}

.quick-settings-text {
    font-family: sans-serif;
    font-weight: 900;
}

.quick-settings-icon {
    font-size: 1.3rem;
}

.quick-settings-info {
    margin-left: 1rem;
}

.quick-settings-state {
    font-size: 0.9rem;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 500;
    color: $black;
}

.quick-settings-state-enabled {
    color: $white;
}

.left-top-plite {
    margin-right: 0.3rem;
    margin-bottom: 0.25rem;
}

.left-bottom-plite {
    margin-right: 0.3rem;
    margin-top: 0.45rem;
}

.right-top-plite {
    margin-left: 0.3rem;
    margin-bottom: 0.25rem;
}

.right-bottom-plite {
    margin-left: 0.3rem;
    margin-top: 0.45rem;
}
