.quick_settings_button {
    transition: 500ms;
    background-color: $white;
    color: $black;
    border-radius: 1.5rem;
    padding: 0.75rem;
    font-size: 1.05rem;
}

.quick_settings_button_toggled {
    background-color: $white;
    color: $black;
}

.quick_settings_box {
    margin-top: 1rem;
}

.quick-settings-icon {
    font-size: 1.3rem;
}

.quick-settings-info {
    margin-left: 1rem;
}

.quick-settings-state {
    font-size: 0.9rem;
    color: $black;
}

.quick-settings-state-enabled {
    color: $black;
}

.left-top-plite {
    margin-right: 0.45rem;
    margin-bottom: 0.25rem;
}

.left-bottom-plite {
    margin-right: 0.45rem;
    margin-top: 0.45rem;
}

.right-top-plite {
    margin-left: 0.45rem;
    margin-bottom: 0.25rem;
}

.right-bottom-plite {
    margin-left: 0.45rem;
    margin-top: 0.45rem;
}
