.screen-settings-content {
  padding: 0.5rem;
}

.settings-section-label {
  font-size: 1.0rem;
  font-weight: bold;
  color: $black;
  padding: 0.1rem;
  margin: 0.1rem;
}

.settings-group {
  background-color: transparent;
  margin-top: 0.1rem;
  padding-top: 0.1rem;
  border-color: $black;
  border-width: 0.2rem;
  border-style: solid;
  border-radius: 1.5rem;
  padding: 0.30rem;
}

.selection-button {
  padding: 0.35rem 1.25rem;
  border-radius: 1.5rem;
  background-color: $white;
  color: $black;
  border-color: $black;
  border-width: 0.2rem;
  border-style: solid;
  font-size: 1.05rem;
}

.selection-button.active {
  background-color: $black;
  color: $white;
}

.close-button-simple {
  padding: 0.35rem 1.25rem;
  border-radius: 1.5rem;
  background-color: $white;
  color: $black;
  border-color: $black;
  border-width: 0.2rem;
  border-style: solid;
  font-size: 1.05rem;
}

.driver-mode-button.active {
  background-color: $black;
  color: $white;
}

.selection-button-small {
  padding: 0.5rem 1rem;
  font-size: 1.0rem;
  border-radius: 0.5rem;
  background-color: $white;
  color: $black;
  border: 0.2rem solid $black;
}
