// generic
@mixin slider-button {
    background-color: $white;
    color: $black;
    margin-left: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    min-width: 2.25rem;
    border-radius: 2rem;
    border-color: $black;
    border-width: 0.2rem;
    border-style: solid;
}

.scale.less trough {
    background-color: $white;
    color: $black;
    border-radius: 1rem;
    min-height: 2.25rem;
    border-color: $black;
    border-width: 0.2rem;
    border-style: solid;
}

.scale.less trough highlight {
    background-color: $black;
    border-radius: 0.9rem;
    min-width: 11px;
}

.scale.more trough {
    background-color: $white;
    color: $black;
    border-radius: 1rem;
    min-height: 2.25rem;
    border-color: $black;
    border-width: 0.2rem;
    border-style: solid;
}

.scale.more trough highlight {
    background-color: $black;
    border-radius: 0.9rem;
    min-height: 2.25rem;
}

.scale-icon {
    margin-left: 1rem;
    font-size: 1.5rem;

    &.less {
        color: $black;
    };

    &.more {
        color: $white;
    };
}

// brightness
.brightness-control-center {
    margin-top: 1rem;
    margin-right: 2.7rem;
}

// volume
.volume-control-center {
    margin-top: 1rem;
}

.volume-arrow {
    color: $black;
    margin-left: 0.5rem;
    font-size: 2rem;
    min-width: 2.25rem;
    border-radius: 2rem;
}

.volume-slider-button {
    @include slider-button;
    padding-right: 0.8rem;
}
