// generic
@mixin slider-button {
    background-color: $white;
    color: $black;
    margin-left: 0.5rem;
    padding: 0.5rem;
    font-size: 1.35rem;
    min-width: 2.25rem;
    border-color: $black;
    border-width: 0.2rem;
    border-style: solid;
    border-radius: 2rem;
}

.scale.less trough {
    background-color: $white;
    color: $black;
    min-height: 2.25rem;
    border-color: $black;
    border-width: 0.2rem;
    border-style: solid;
}

.scale.less trough highlight {
    background-color: $black;
}

.scale.more trough {
    background-color: $white;
    color: $black;
    min-height: 2.25rem;
    border-color: $black;
    border-width: 0.2rem;
    border-style: solid;
}

.scale.more trough highlight {
    background-color: $black;
    min-height: 2.25rem;
}

.scale-icon {
    margin-left: 1rem;
    font-size: 1.5rem;

    &.less {
        color: $black;
    }

    &.more {
        color: $white;
    }
}

.smaller-scale-icon {
    margin-left: 1rem;
    font-size: 1.35rem;

    &.less {
        color: $black;
    }

    &.more {
        color: $white;
    }
}

.brightness-control-center {
    margin-top: 1rem;
}

.volume-control-center {
    margin-top: 1rem;
}

.volume-arrow {
    color: $black;
    margin-left: 0.5rem;
    font-size: 2rem;
    min-width: 2.25rem;
}

.volume-slider-button {
    @include slider-button;
    padding-right: 0.8rem;
}

.treshold-scale trough {
    background-color: $white;
    border: 0.2rem solid $black;
    min-height: 2rem;
}

.treshold-scale trough highlight {
    background-color: $black;
}

.treshold-scale slider {
    background-color: $black;
}
