// generic

@mixin slider-button {
    background-color: $white;
    color: $black;
    margin-left: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    min-width: 2.25rem;
    border-radius: 2rem;
    transition: 0.3s;
}

.scale trough {
    background-color: $white;
    border-radius: 1rem;
    min-height: 2.25rem;
}

.scale-icon {
    margin-left: 0.75rem;
    font-size: 1.5rem;

    &.less {
        color: $black;
    };

    &.more {
        color: $black;
    };
}


// brightness
.brightness-control-center {
    margin-top: 1rem;
    margin-right: 2.7rem;
}

.brigh-slider-button {
    @include slider-button;
    padding: 0.5rem 0.4rem;
    padding-right: 0.88rem;
}


// volume
.volume-control-center {
    margin-top: 1rem;
}

.volume-arrow {
    color: $black;
    margin-left: 0.5rem;
    font-size: 2rem;
    min-width: 2.25rem;
    border-radius: 2rem;
    transition: 0.3s;
}

.volume-slider-button {
    @include slider-button;
    padding-right: 0.8rem;
}
