.taskbar {
    background-color: $transparent;
    border-color: $black;
    border-style: solid;
}

.workspace {
    padding: 0rem 0rem;
    margin: 0 0rem;
    background-color: $black;
    color: $black;
}

.app_item {
    margin: 0.2045rem;
    padding: 0rem 1rem;
    background-color: $black;

    &.active {
        background-color: $white;
        color: $black;
        border-color: $white;
    }
}
