.taskbar {
    border-radius: 1rem;
    margin: 0 1rem;
    background-color: $white;
}

.workspace {
    border-radius: 1rem;
    padding: 0rem 0rem;
    margin: 0 0rem;
    background-color: $white;
    color: $black;
}

.app_item {
    margin: 0 0.1rem;
    transition: 0.5s;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    background-color: $white;
}
