.taskbar {
    margin: 0 1rem;
    background-color: $transparent;
}

.workspace {
    padding: 0rem 0rem;
    margin: 0 0rem;
    background-color: $black;
    color: $black;
}

.app_item {
    margin: 0 0.1rem;
    transition: 0.5s;
    padding: 0.2rem 1rem;
    background-color: $black;

    &.active {
        background-color: $black;
        color: $black;
        border-color: $white;
        border-width: 0.1rem 0rem;
        border-style: solid;
    }
}
