.temp-indicators {
    background-color: $base;
    border-radius: 1rem;
    padding: 0 0rem 0 0rem;
    margin: 0 0.5rem;
    transition: 0.3s;
    font-size: 1.5rem;
}

.temp-indicators:hover {
    background-color: mix($base, $subtext1, 70%);
}

.indicator-cpu-temp,
.indicator-gpu-temp {
    border-radius: 1rem;
    padding: 0.1rem 0.8rem;
    font-size: 1.1rem;
}

.indicator-cpu-temp {}
.indicator-gpu-temp {}


.icon-usage-text-temp {
    margin: 0 0.2rem;
    font-size: 0.90rem;
}

.profile-indicator {
    border-radius: 1rem;
    padding: 0.1rem 0.8rem;
    font-size: 1.1rem;
    border-radius: 1rem;
    background-color: $pink;
    color: $surface0;
}