.usage-indicators {
    background-color: $base;
    border-radius: 1rem;
    padding: 0 0rem 0 0rem;
    margin: 0 0.5rem;
    transition: 0.3s;
    font-size: 1.5rem;
}

.indicator-cpu-icon,
.indicator-gpu-icon,
.indicator-memory-icon {
    color: $base;
    border-radius: 1rem;
    padding: 0.1rem 0.8rem;
    font-size: 1.1rem;
}

.indicator-cpu-icon { background-color: $teal; }
.indicator-gpu-icon { background-color: $sky; margin: 0 0.7rem; }
.indicator-memory-icon { background-color: $blue; }


.icon-usage-text {
    margin: 0 0.2rem;
    font-size: 0.90rem;
}