.username {
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

.uptime {
    color: $black;
    font-size: 1rem;
}

.open-powermenu-button {
    background-color: $white;
    color: $black;
    border-radius: 1rem;
    padding: 0 1rem;
    margin: 0.35rem 0;
    margin-left: 0.5rem;
    transition: 0.3s;
}

.user-clock-time {
    font-size: 1.4rem;
}

.user-clock-separator {
    font-size: 1.4rem;
    margin: 0 0.25rem;
}

.user-clock-date {
    font-size: 1.2rem;
}

.user-uptime{
    font-size: 1rem;
}

.open-settings-button {
    background-color: $white;
    color: $black;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    margin: 0.35rem 0;
    margin-left: 0.5rem;
    transition: 0.3s;
    font-size: 1.2rem;
}
