.open-powermenu-button {
    background-color: $white;
    color: $black;
    border-radius: 1rem;
    padding: 0 1rem;
    margin: 0.35rem 0;
    margin-left: 0.5rem;
    border-color: $black;
    border-width: 0.2rem;
    border-style: solid;
}

.user-clock-time {
    color: $black;
    font-size: 1.4rem;
}

.user-clock-separator {
    color: $black;
    font-size: 1.4rem;
    margin: 0 0.25rem;
}

.user-clock-date {
    color: $black;
    font-size: 1.2rem;
}

.user-uptime{
    color: $black;
    font-size: 1rem;
}
