.open-powermenu-button {
    background-color: $white;
    color: $black;
    padding: 0 2rem;
    margin: 0.35rem 0;
    margin-left: 0.2rem;
    border-color: $black;
    border-width: 0.2rem;
    border-style: solid;
    font-size: 1.5rem;
}

.open-powermenu-button:active {
  background-color: $black;
}

.user-clock-time {
    color: $black;
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight: 900;
    letter-spacing: 0.05em;
}

.user-clock-separator {
    color: $black;
    font-size: 1.4rem;
    font-family: sans-serif;
    margin-left: 0.6rem;
    margin-right: 0.5rem;
}

.user-clock-date {
    color: $black;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    margin-right: 0.45rem;
}

.user-uptime{
    color: $black;
    padding-top: 0.3rem;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 400;
    margin-right: 0.4rem;
}
