@import "../colors.scss";
@import "lib.scss";

.control-center {
  @include window;
  border-color: $black;
  border-width: 0.2rem;
  border-style: solid;
  min-width: 20rem;
}

.window-navigation {
  margin-bottom: 0.5rem;
}

.window-arrow-button {
  background-color: $white;
  color: $black;
  font-size: 2rem;
  border-color: $black;
  border-width: 0.2rem;
  border-style: solid;
  min-height: 2rem;
  margin-right: 0.3rem;
  margin-left: 0.3rem;
  border-radius: 3rem;
}

.window-action-button {
  background-color: $white;
  color: $black;
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.05rem;
  border-color: $black;
  border-width: 0.2rem;
  border-style: solid;
  min-width: 15rem;
}

.window-more-button {
  background-color: $white;
  color: $black;
  margin-bottom: 0.5rem;
  font-size: 1.05rem;
  border-bottom: 0.1em;
  border-color: $black;
  border-style: solid;
  border-radius: 0%;
  padding: 0.3em;
  margin-left: 1.3em;
  margin-right: 1.3em;
}

.window-navigation-text {
  background-color: $white;
  color: $black;
}

.window-navigation-box {
  margin: 0em;
  padding: 0em;
}
