@import "../colors.scss";
@import "lib.scss";

.control-center {
  @include window;
  border-color: $black;
  border-width: 0.2rem;
  border-style: solid;
  min-width: 20rem;
}

.window-navigation {
  margin-bottom: 1rem;
}

.window-arrow-button {
  background-color: $white;
  color: $black;
  font-size: 3.1rem;
  border-color: $black;
  border-width: 0.2rem;
  border-style: solid;
  min-height: 4rem;
  margin-right: 0.3rem;
  margin-left: 0.3rem;
  border-radius: 3rem;
}

.window-action-button {
  background-color: $white;
  color: $black;
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.05rem;
  border-color: $black;
  border-width: 0.2rem;
  border-style: solid;
  min-width: 15rem;
}
