* {
    all: unset;
    font-family: "JetBrains Mono Nerd Font", "FiraCode Nerd Font", "Iosevka Nerd Font", monospace;
    font-weight: bold;
    box-shadow: none;
    background-clip: padding-box;
    -gtk-icon-source: builtin;
    -gtk-icon-palette: default;
}

window,
.eww-window {
    background: transparent;
}

@import "colors.scss";
@import "scss/lib.scss";

@import "scss/notifications.scss";
@import "scss/control_center.scss";
@import "scss/quick_settings.scss";
@import "scss/window_menu.scss";
@import "scss/sliders.scss";
@import "scss/clock.scss";
@import "scss/music.scss";
@import "scss/bar.scss";
@import "scss/indicator.scss";
@import "scss/taskbar.scss";
@import "scss/user.scss";
@import "scss/date.scss";
@import "scss/tray.scss";
@import "scss/launcher.scss";
@import "scss/power_menu.scss";
